<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Your Application Title</title>

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" th:href="@{/bootstrap/css/bootstrap.min.css}">

  <!-- Your custom CSS here -->

</head>
<body>

<!-- Include header -->
<div th:replace="fragments/header :: header"></div>

<!-- Main content placeholder for extending templates -->
<div th:fragment="content"></div>

<!-- Include footer -->
<div th:replace="fragments/footer :: footer"></div>

<!-- Bootstrap JS and Popper.js -->
<script th:src="@{/bootstrap/js/bootstrap.bundle.min.js}"></script>
<!-- Optionally add jQuery if needed for other purposes, since Bootstrap bundle already includes it -->
<!--<script th:src="@{/path/to/your/jquery.js}"></script>-->

</body>
</html>
